.git
.env
.env.backup
.env.production
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
.idea
.vscode
.fleet
.nova
.zed
Thumbs.db
*.log
docker-compose.override.yml
